*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background: #2ef307b2;
  color: black;  
}


html {
  scroll-behavior: smooth;
}

.arimo-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
